<h3>属性(Attributes)</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>名称</th>
            <th>类型</th>
            <th>默认值</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>setting</td>
            <td>Object</td>
            <td>-</td>
            <td><a href="http://echarts.baidu.com/option.html" target="_blank">配置项</a></td>
        </tr>
    </tbody>
</table>

<h3>事件(Events)</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>名称</th>
            <th>返回值</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>onReady</td>
            <td>$ueditor : Editor</td>
            <td>编辑器初始化完成</td>
        </tr>
        <tr>
            <td>onContentChange</td>
            <td>$content : string</td>
            <td>编辑器内容改变</td>
        </tr>
    </tbody>
</table>